@import "tailwindcss";


:root {
  /*Tela de login e cadastro */
  --bg-fundo: #fafafa;
  --color-titulo: #0D93F2;
  --color-secundarias: #62748E;
  --color-marca: #02274F;

  /*Tela de linha do tempo */
  --color-post-principais: #314158;
  --bg-icone-like: #EB5757;
  --bg-icones: #0D93F2;
  --bg-footer: #FAFAFA;
  --bg-footer-nome: #0D93F2;
}

.dark {
  /*Tela de login e cadastro */
  --bg-fundo-grad1: #0F172B;
  --bg-fundo-grad2: #070B14;
  --color-principal: #FFFFFF;
  --color-titulo: #FAFAFA;
  --color-desc-titulo: #90A1B9;
  --color-secundarias: #62748E;
  --color-marca: #94A3B8;

  /*Tela de linha do tempo */
  --color-post-principais: #FFFFFF;
  --color-post-mensagem: #CBD5E1;
  --bg-icone-like: #EB5757;
  --bg-footer: #0F172B;
  --bg-footer-nome: #FFFFFF;
}

@theme {
  --font-sans: 'Manrope', sans-serif
}